<div id="posts">
  <% @posts.each do |post| %>
    <p>
      <strong>Content:</strong>
      <%= post.content %>
    </p>

    <p>
      <strong>User:</strong>
      <%= post.user.username %>
    </p>
    <%= render 'likes/like', post: post, like_count: Like.size_likes_post(post) %>
  <% end %>

  <%= will_paginate @posts %>
</div>
